.container {
	margin: 36px auto;
	width: 40%;
    position:relative;
	top:200px;
	}
.theme{
	background-image: url("https://d7hftxdivxxvm.cloudfront.net/?resize_to=width&src=https%3A%2F%2Fartsy-media-uploads.s3.amazonaws.com%2Fpj3o231MA6ygMyYxAOT_EQ%252F1024px-Rainbow_flag_breeze%2Bcopy.jpg&width=1200&quality=80");
}

/* .AutoCompleteText{
    width:40%
} */
 .AutoCompleteText li{
    padding: 10px 5px;
    cursor:pointer;
} 

.AutoCompleteText ul{
    list-style-type: none;
    text-align: left;
    padding:0;
    margin:0;
    border-top: 1px solid grey;
}

img {
border: 10px none #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 300px;
}
.center {
    font-style: italic;
    text-align: center;
    top: 18px;
}
.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    position: relative;
    top: 16px;
    margin-left: 20px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.search-label {
	position: relative;
}

.container input {
	width: 100%;
	padding: 16px;
	font-size: 36px;
	color: #444;
	box-sizing: border-box;
	outline: none;
}