h4 {
    font-family:  Publico,Georgia,serif;
    font-weight: bolder;
    text-decoration: underline overline;
    text-decoration-color: crimson;
    text-decoration-style: double;
    width: 12.7ch;
    background-color: lemonchiffon;
}

.post-card {
    width: 65%;
}

.element {
    position: absolute;
    right: 10%;
    animation:
            pulse 3s ease infinite alternate,
            nudge 5s linear infinite alternate;
}

@keyframes nudge {
    0% {
       transform: translateY(1000%);


    }
    50% {
        transform: scale(2, 2);
    }

    100% {
        transform: translateY(-60%);
    }
}